<h1>Editing Book</h1>
<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>
    <form>
    <div class="field">
    <la>Title</la>
    <%= f.text_field :title %>
    </div>
    <div class="field">
    <la>Body</la>
    <%= f.text_area :body %>
    </div>
    <div class="action"><%= f.submit 'Update Book' %></div>
    </form>
<% end %>
  <p>
  <%= link_to "Show", show_book_path(@book.id) %>
   |
  <%= link_to "Back", "/books" %>
  </p>